<!--
MATRIX
{{ matrix }}
ENDMATRIX
-->
<head>
    <script>
     function reload()
     {
         document.getElementById('form').submit();
     }
     setInterval(reload, 5000);
    </script>
</head>
<body>
    <form action="/" method="post" id="form">
        <input type="hidden" name="name" value="{{ name  }}" required>
    </form>
    <h1>Game against  <span style="background-color: {{ opponent_color }};">{{ opponent }}</span></h1>
    <p>You are player <span style="background-color: {{ player_color }};">
        {{ sign }}</span></p>
    <p>
        <form action="/logout" method="post">
            <input type="hidden" name="name" value="{{ name }}">
            <button type="submit">Logout</button>
        </form>
    </p>
    {% if winner %}
    <p>
    Player <span style="background-color: {{ winner_color }};">
        {{ winner }}</span> won.
    </p>
    {% endif %}
    <table rules="all" border="1" cellpadding="10">
        {% if turn %}
        <tr>
            {% for j in range(cols) %}
            <td><form action="/move" method="post">
                <input type="hidden" name="name" value="{{ name }}">
                <input type="hidden" name="move" value="{{ j }}">
                <button type="submit">V</button>
            </form></td>
            {% endfor %}
        </tr>
        {% endif %}
        {{ board|safe }}
    </table>


    <!--
    <p>{{ t }} seconds before match-up. People in the lobby:</p>
    -->
</body>
