<head>
    <meta http-equiv="refresh" content="5" >
    <!-- <script> -->
    <!--  function reload() -->
    <!--  { -->
    <!--      document.getElementById('form').submit(); -->
    <!--  } -->
    <!--  setInterval(reload, 5000); -->
    <!-- </script> -->
</head>
<body>
    <h1>Lobby</h1>
    <!-- <p> -->
    <!--     <form action="/logout" method="post"> -->
    <!--         <input type="hidden" name="name" value="{{ name }}"> -->
    <!--         <button type="submit">Logout</button> -->
    <!--     </form> -->
    <!-- </p> -->
    <!-- <form action="/" method="post" id="form"> -->
    <!--     <input type="hidden" name="name" value="{{ name  }}" required> -->
    <!-- </form> -->
    <p>{{ t }} seconds before match-up. People in the lobby:</p>
    <ul>
        <li><b>{{ user }}</b></li>
        {% for ne in l %}
        <li>{{ ne }}</li>
        {% endfor %}
    </ul>
    <figure>
        <img alt="Elo scores" src="elo.png"/>
    </figure>
</body>
